<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= companyName %> - Soluciones Informáticas</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="stylesheets/slicknav.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="stylesheets/slick.css" >
    <link rel="stylesheet" type="text/css" href="stylesheets/slick-theme.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <link rel="icon" href="images/favicon.ico"/>

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="images/logo-white.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Servicios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">
                  Equipo
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#testimonial">
                  Testimonios
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contacto
                </a>
              </li>
            </ul>
            <div class="btn-sing float-right">
              <a class="btn btn-border" href="https://wa.me/+542954465433/" target="_blank">
                <i class="fab fa-whatsapp"></i>
                WhatsApp
              </a>
            </div>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu navbar-nav">
          <li>
            <a class="page-scroll" href="#hero-area">
              Inicio
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#services">
              Servicios
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#team">
              Equipo
            </a>
          </li>
          <!-- <li>
            <a class="page-scroll" href="#testimonial">
              Testimonios
            </a>
          </li> -->
          <li>
            <a class="page-scroll" href="#contact">
              Contacto
            </a>
          </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="contents text-center">
                <br><br><br><br><br><br><br><br><br><br><br>
                <h1 class="wow fadeInUp whiteText"><%= companyName %></h1>
                <p class="fadeInUp whiteText">Soluciones informáticas</p>
                <br>
                <p class="fadeInUp whiteText"><i class="fas fa-thumbtack"></i>   Santa Rosa, La Pampa</p>
                <br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Que ofrecemos</h2>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Mantenimiento y reparación</a></h3>
                <p>Hacemos mantenimieto, actualización, mejora de componentes, limpieza, copias de seguridad, entre otros.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="far fa-file-word"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Instalación de programas</a></h3>
                <p>Instalamos todo tipo de programas: Antivirus, Office, Backups. También instalamos Sistemas Operativos. Podemos hacerlo de forma remota por medio de TeamViewer.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="fas fa-memory"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Asesoramiento de armado</a></h3>
                <p>Lo asesoramos para que pueda armar la PC que usted necesita.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="far fa-hdd"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Asistencia remota</a></h3>
                <p>Ofrecemos este servicio para intervenir en el equipo sin necesidad de que usted salga de su casa.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="fas fa-viruses"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Instalación de Antivirus</a></h3>
                <p>Instalación y configuración de Antivirus.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="fas fa-palette"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Creación de páginas web</a></h3>
                <p>Podemos crear su página web a medida y que cumpla todos sus requerimientos.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h4 class="wow fadeInRight" data-wow-delay="2s">Termine con los problemas de tecnología <a href="#contact">Contáctenos</a></h4>
        </div>
      </div>
    </section>
    <!-- Services Section End -->
    <!-- Feature Section Start -->
    <div id="feature">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12" style="padding-top: 3em;">
            <div class="text-wrapper">
              <div>
                <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">
                  Más sobre nosotros...
                </h2>
                <div class="row">
                  <div class="features-icon">
                    <h4 style="font-size: 25px;">
                      <i class="fas fa-question-circle"></i>
                      ¿Quienes somos?
                    </h4>
                  </div>
                  <div class="features-content">
                    <br>
                    <p style="font-size: 20px;">
                      Somos un emprendimiento de Santa Rosa, La Pampa que ofrece soluciones informáticas del lado del hardware y del software. Más específicamente 2 estudiantes de Ingeniería que nos gusta la tecnología.
                    </p>
                    <br>
                    <p style="font-size: 20px;">
                      En el equipo somos 2, Francisco quien se dedica mayormente a la parte de software y sistemas y Santiago quien emplea la mayor parte de su tiempo con el hardware y electrónica. En cuanto a la experiencia, los dos llevamos varios años en el tema, Francisco programa desde el 2013 y Santiago comenzó en 2014 con los primeros diseños de circuitos electrónicos y ensambles de pc.
                    </p>
                    <br>
                    <p style="font-size: 20px;">
                      Habitualmente nos llegaba gente con problemas o preguntas sobres sus computadoras los cuales resolvemos particularmente. Y nos vimos en una posición muy apta para lanzarnos a ayudar a más gente con nuevos proyectos más ambiciosos como equipo.  
                    </p>
                    <br>
                    <p style="font-size: 20px; padding-bottom: 3em;">
                      Para obtener más información de los proyectos, están nuestros perfiles en el apartado <a href="#team">Equipo.</a>  
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 padding-none">
            <img src="images/feature/img-1.png" alt="" style="object-fit: cover; width: 100%; height: 100%">
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Section End -->

    <!-- Team Section Start -->
    <section id="team" class="section-padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-header text-center">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Nuestro equipo</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- Team Item Starts -->
            <div class="team-item text-center">
              <div class="team-img">
                <img class="img-fluid" src="images/team/santiagofrances.png" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Santiago Francés</a></h3>
                <p>Estudiante de Ing. en Computación.</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- Team Item Starts -->
            <div class="team-item text-center">
              <div class="team-img">
                <img class="img-fluid" src="images/team/franciscodadone.png" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Francisco Dadone</a></h3>
                <p>Estudiante de Ing. en Sistemas.</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          
        </div>
      </div>
    </section>
    <!-- Team Section End -->
    <!-- Owl Slider Section Start -->
    <section class="sloder-img section-padding">
      <div class="container">
        <div class="title-hl wow fadeInLeft" data-wow-delay="0.3s">
          <h4 class="whiteText">
            Nuestros más recientes trabajos...
          </h4>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="slider-center slider">
              <div>
                <img class="img-fluid" src="images/slide/img1.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img2.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img3.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img4.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img5.jpg" alt="">
              </div>
              <div>
                <img  class="img-fluid" src="images/slide/img6.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Owl Slider Section End -->  

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">  
      <div class="container">
        <div class="row">
          <div class="col-12">
          <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Contactenos</h2>
          <p class="wow fadeInDown animated">
            Realice su consulta sin cargo.
          </p>
          <br>
        </div>
          </div>
        </div>
        <div class="row contact-form-area wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
        <div class="col-md-7 col-lg-6 col-sm-12">
          <div class="contact-block">
          <h2>Formulario de contacto</h2>
          <form action="/contact" method="post" id="contactForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required="" data-error="Por favor ingresa tu nombre">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
              <input type="text" placeholder="Email" id="email" class="form-control" name="email" required="" data-error="Por favor ingresa tu email">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
            <input type="text" placeholder="Asunto" id="msg_subject" class="form-control" required="" data-error="Por favor ingresa el asunto">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
          <textarea class="form-control" id="message" placeholder="Mensaje" rows="5" data-error="Write your message" required=""></textarea>
          <div class="help-block with-errors"></div>
        </div>
        <div class="submit-button">
        <button class="btn btn-common disabled" id="form-submit" type="submit" style="pointer-events: all; cursor: pointer;">Enviar</button>
        <div id="msgSubmit" class="h3 text-center hidden"></div>
          <div class="clearfix"></div>
        </div>
        </div>
        </div>
        </form>
        </div>
        </div>
        <div class="col-md-5 col-lg-6 col-sm-12">
        <div class="contact-right-area wow fadeIn animated" style="visibility: visible;">
        <div class="contact-right">
        <div class="single-contact">
        <div class="contact-icon">
        <i class="lni lni-map-marker"></i>
        </div>
        <p>Santa Rosa, La Pampa</p>
        </div>
        <div class="single-contact">
        <div class="contact-icon">
        <i class="lni lni-envelope"></i>
        </div>
        <a href="mailto: 01computacion@gmail.com">
          <p>
            01computacion@gmail.com
          </p>
        </a>
        </div>
        <div class="single-contact">
          <div class="contact-icon">
            <i class="fab fa-whatsapp"></i>
          </div>
          <a href="https://wa.me/+542954465433/" target="_blank">
            <p>
              +54 2954 465433
            </p>
          </a>
          <a href="https://wa.me/+542954325457/" target="_blank">
            <p>
              +54 2954 325457
            </p>
          </a>
        </div>
        <a href="https://www.instagram.com/01computacion/" target="_blank">
          <div class="single-contact">
            <div class="contact-icon">
              <i class="fab fa-instagram"></i>
            </div>
            <p>
              Instagram
            </p>
          </div>
        </a>
        <a href="https://www.facebook.com/01Computaci%C3%B3n-105682328385005" target="_blank">
          <div class="single-contact">
            <div class="contact-icon">
              <i class="fab fa-facebook-f"></i>
            </div>
            <p>
              Facebook
            </p>
          </div>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div>  
    </section>
    <!-- Contact Section End -->

	  <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
              <div class="footer-logo mb-3">
                <img src="images/logo-white.png" alt="">
              </div>
              <p style="color: white;">
                Soluciones informáticas en Santa Rosa, La Pampa.
              </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
              <h3 class="footer-titel">Nosotros...</h3>
              <ul>
                <li><a href="#team">Equipo</a></li>
                <li><a href="#contact">Contacto</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
              <h3 class="footer-titel">Encuentranos en...</h3>
              <div class="social-icon">
  	            <a class="instagram" href="https://www.instagram.com/01computacion/" target="_blank"><i class="lni-instagram-filled"></i></a>
  	            <a class="facebook" href="https://www.facebook.com/01Computaci%C3%B3n-105682328385005" target="_blank"><i class="lni-facebook-filled"></i></a>
              </div>
            </div>
          </div>
        </div>  
      </div>     
    </footer> 
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>
    
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="javascripts/jquery-min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/slick.min.js"></script>
    <script src="javascripts/wow.js"></script>
    <script src="javascripts/jquery.nav.js"></script>
    <script src="javascripts/scrolling-nav.js"></script>
    <script src="javascripts/jquery.easing.min.js"></script>
    <script src="javascripts/jquery.slicknav.js"></script>
    <script src="javascripts/main.js"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d60acf7f79.js" crossorigin="anonymous"></script>
  </body>
</html>
