<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= companyName %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="stylesheets/slicknav.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/owl.theme.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="stylesheets/slick.css" >
    <link rel="stylesheet" type="text/css" href="stylesheets/slick-theme.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="images/logo.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Servicios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">
                  Equipo
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonial">
                  Testimonios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">
                  Precios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contacto
                </a>
              </li>
            </ul>
            <div class="btn-sing float-right">
              <a class="btn btn-border" href="https://wa.me/00000000/" target="_blank">
                <i class="fab fa-whatsapp"></i>
                WhatsApp
              </a>
            </div>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu navbar-nav">
          <li>
            <a class="page-scroll" href="#hero-area">
              Inicio
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#services">
              Servicios
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#team">
              Equipo
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#testimonial">
              Testimonios
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#pricing">
              Precios
            </a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">
              Contacto
            </a>
          </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="contents text-center">
                <h1 class="wow fadeInUp"><%- companyName %></h1>
                <p class="fadeInUp" style="color: #585b60;">Soluciones informáticas en Santa Rosa, La Pampa.</p>
                <br><br>
              </div>
              <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
                <img class="img-fluid" src="images/hero-1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Que ofrecemos</h2>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Diagnóstico y reparación de Hardware</a></h3>
                <p>¿Sobrecalienta mucho? ¿Se apaga inesperadamente? ¿Hace mucho ruido? ¿Por qué esperar a perder información vital o que sus computadoras colapsen? Llámenos.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="far fa-file-word"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Instalación de programas</a></h3>
                <p>Instalamos todo tipo de programas: Antivirus, Office, Backups, etc.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="fas fa-memory"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Ampliación de memoria</a></h3>
                <p>¿Se queda trabada la PC? ¿No responde como usted quiere? Llámenos.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="far fa-hdd"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Creación de copias de seguridad</a></h3>
                <p>Podemos hacer una copia de seguridad para respaldar todos sus archivos y a su vez asesorarlo sobre copias de seguridad en la nube.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="fas fa-exclamation-triangle"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">¿Problemas en el Sistema?</a></h3>
                <p>Podemos diagnosticar su sistema operativo y repararlo. Windows, Linux, MacOS.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="fas fa-palette"></i>
              </div>
              <div class="services-content">
                <h3><a href="#contact">Creación de páginas web</a></h3>
                <p>Podemos crear su página web a medida y que cumpla todos sus requerimientos.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h4 class="wow fadeInRight" data-wow-delay="2s">Termine con los problemas de tecnología <a href="#contact">Contáctenos</a></h4>
        </div>
      </div>
    </section>
    <!-- Services Section End -->
    <!-- Feature Section Start -->
    <div id="feature">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper">
              <div>
                <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">Más sobre nosotros</h2>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.3s">
                      <div class="features-icon">
                        <i class="lni-layers"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Bootstrap 4
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint. 
                        </p>
                      </div>
                    </div>
                  </div> 
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.6s">
                      <div class="features-icon">
                        <i class="lni-briefcase"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          100% Free
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint. 
                        </p>
                      </div>
                    </div>
                  </div>           
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="0.9s">
                      <div class="features-icon">
                       <i class="lni-cog"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Responsive
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="features-box wow fadeInLeft" data-wow-delay="1.2s">
                      <div class="features-icon">
                        <i class="lni-leaf"></i>
                      </div>
                      <div class="features-content">
                        <h4>
                          Easy to Use
                        </h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora quidem vel sint. 
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 padding-none">
            <div class="feature-thumb wow fadeInRight" data-wow-delay="0.3s">
              <img src="images/feature/img-1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Section End -->

    <!-- Team Section Start -->
    <section id="team" class="section-padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-header text-center">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Nuestro equipo</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- Team Item Starts -->
            <div class="team-item text-center">
              <div class="team-img">
                <img class="img-fluid" src="images/team/team-01.jpg" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Santiago Francés</a></h3>
                <p>Estudiante de Ing. en Computación.</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- Team Item Starts -->
            <div class="team-item text-center">
              <div class="team-img">
                <img class="img-fluid" src="images/team/team-03.jpg" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Francisco Dadone</a></h3>
                <p>Estudiante de Ing. en Sistemas.</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          
        </div>
      </div>
    </section>
    <!-- Team Section End -->

    <!-- Testimonial Section Start -->
    <section id="testimonial" class="testimonial section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
              <div class="item">
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness. Completely enable emerging meta-services with cross-platform web services. Quickly initiate inexpensive total linkage rather than extensible scenarios. Holisticly empower leveraged ROI whereas effective web-readiness. </p>
                  </div>
                  <div class="img-thumb">
                    <img src="images/testimonial/img1.jpg" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Grenchen Pearce</a></h2>
                    <h3><a href="#">Boston Brothers co.</a></h3>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness. Completely enable emerging meta-services with cross-platform web services. Quickly initiate inexpensive total linkage rather than extensible scenarios. Holisticly empower leveraged ROI whereas effective web-readiness. </p>
                  </div>
                  <div class="img-thumb">
                    <img src="images/testimonial/img2.jpg" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Domeni GEsson</a></h2>
                    <h3><a href="#">Awesome Technology co.</a></h3>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness. Completely enable emerging meta-services with cross-platform web services. Quickly initiate inexpensive total linkage rather than extensible scenarios. Holisticly empower leveraged ROI whereas effective web-readiness. </p>
                  </div>
                  <div class="img-thumb">
                    <img src="images/testimonial/img3.jpg" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Dommini Albert</a></h2>
                    <h3><a href="#">Nesnal Design co.</a></h3>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness. Completely enable emerging meta-services with cross-platform web services. Quickly initiate inexpensive total linkage rather than extensible scenarios. Holisticly empower leveraged ROI whereas effective web-readiness. </p>
                  </div>
                  <div class="img-thumb">
                    <img src="images/testimonial/img4.png" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Fernanda Anaya</a></h2>
                    <h3><a href="#">Developer</a></h3>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="content">
                    <p class="description">Holisticly empower leveraged ROI whereas effective web-readiness. Completely enable emerging meta-services with cross-platform web services. Quickly initiate inexpensive total linkage rather than extensible scenarios. Holisticly empower leveraged ROI whereas effective web-readiness. </p>
                  </div>
                  <div class="img-thumb">
                    <img src="images/testimonial/img5.png" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Jason A.</a></h2>
                    <h3><a href="#">Designer</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial Section End -->  

    <!-- Pricing section Start --> 
    <section id="pricing" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="title">
                <h3>Basic</h3>
              </div>
              <div class="pricing-header">
                <p class="price-value">$12.90<span>/ Month</span></p>
              </div>
              <ul class="description">
                <li>Up to 5 projects </li>
                <li>Up to 10 collabrators</li>
                <li>2gb of storage</li>
              </ul>
              <button class="btn btn-common">Get It</button>
            </div> 
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
              <div class="title">
                <h3>Profesional</h3>
              </div>
               <div class="pricing-header">
                  <p class="price-value">$49.90<span>/ Month</span></p>
               </div>
              <ul class="description">   
                <li>Up to 10 projects</li>
                <li>Up to 20 collabrators</li>
                <li>10gb of storage</li>
                <li>Real-time collabration</li>
              </ul>
              <button class="btn btn-common">Get It</button>
           </div> 
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="1.2s">
              <div class="title">
                <h3>Expert</h3>
              </div>
               <div class="pricing-header">
                  <p class="price-value">$89.90<span>/ Month</span></p>
               </div>
              <ul class="description">
                <li>unlimited projects </li>
                <li>Unlimited collabrators</li>
                <li>Unlimited of storage</li>
                <li>Real-time collabration</li>
                <li>24x7 Support</li>
              </ul>
              <button class="btn btn-common">Get It</button>
            </div> 
          </div>
        </div>
      </div>
    </section>
    <!-- Pricing Table Section End -->

    <!-- Owl Slider Section Start -->
    <section class="sloder-img section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="slider-center slider">
              <div>
                <img class="img-fluid" src="images/slide/img1.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img2.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img3.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img4.jpg" alt="">
              </div>
              <div>
                <img class="img-fluid" src="images/slide/img5.jpg" alt="">
              </div>
              <div>
                <img  class="img-fluid" src="images/slide/img6.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Owl Slider Section End -->  

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">  
      <div class="container">
        <div class="row">
          <div class="col-12">
          <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Contactenos</h2>
          <p class="wow fadeInDown animated">Realice su consulta sin cargo.</p>
          <br>
        </div>
          </div>
        </div>
        <div class="row contact-form-area wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
        <div class="col-md-7 col-lg-6 col-sm-12">
          <div class="contact-block">
          <h2>Formulario de contacto</h2>
          <form action="/contact" method="post" id="contactForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required="" data-error="Por favor ingresa tu nombre">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
              <input type="text" placeholder="Email" id="email" class="form-control" name="email" required="" data-error="Por favor ingresa tu email">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
            <input type="text" placeholder="Asunto" id="msg_subject" class="form-control" required="" data-error="Por favor ingresa el asunto">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
          <textarea class="form-control" id="message" placeholder="Mensaje" rows="5" data-error="Write your message" required=""></textarea>
          <div class="help-block with-errors"></div>
        </div>
        <div class="submit-button">
        <button class="btn btn-common disabled" id="form-submit" type="submit" style="pointer-events: all; cursor: pointer;">Enviar</button>
        <div id="msgSubmit" class="h3 text-center hidden"></div>
          <div class="clearfix"></div>
        </div>
        </div>
        </div>
        </form>
        </div>
        </div>
        <div class="col-md-5 col-lg-6 col-sm-12">
        <div class="contact-right-area wow fadeIn animated" style="visibility: visible;">
        <div class="contact-right">
        <div class="single-contact">
        <div class="contact-icon">
        <i class="lni lni-map-marker"></i>
        </div>
        <p>Santa Rosa, La Pampa</p>
        </div>
        <div class="single-contact">
        <div class="contact-icon">
        <i class="lni lni-envelope"></i>
        </div>
        <p><a href="#">01computacion@gmail.com</a></p>
        </div>
        <div class="single-contact">
        <div class="contact-icon">
        <i class="fab fa-whatsapp"></i>
        </div>
        <p><a href="https://wa.me/+542954465433/" target="_blank">+54 2954 465433</a></p>
        <p><a href="https://wa.me/+542954325457/" target="_blank">+54 2954 325457</a></p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>  
    </section>
    <!-- Contact Section End -->

	  <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
              <div class="footer-logo mb-3">
                <img src="images/logo.png" alt="">
              </div>
              <p>Soluciones informáticas en Santa Rosa, La Pampa.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
              <h3 class="footer-titel">Nosotros...</h3>
              <ul>
                <li><a href="#team">Equipo</a></li>
                <li><a href="#testimonial">Clientes</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
              <h3 class="footer-titel">Encuentranos en...</h3>
              <div class="social-icon">
  	            <a class="facebook" href="#" target="_blank"><i class="lni-facebook-filled"></i></a>
  	            <a class="instagram" href="https://www.instagram.com/01computacion/" target="_blank"><i class="lni-instagram-filled"></i></a>
              </div>
            </div>
          </div>
        </div>  
      </div>     
    </footer> 
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>
    
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="javascripts/jquery-min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/slick.min.js"></script>
    <script src="javascripts/wow.js"></script>
    <script src="javascripts/jquery.nav.js"></script>
    <script src="javascripts/scrolling-nav.js"></script>
    <script src="javascripts/jquery.easing.min.js"></script>
    <script src="javascripts/jquery.slicknav.js"></script>
    <script src="javascripts/main.js"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d60acf7f79.js" crossorigin="anonymous"></script>
  </body>
</html>
